.storydetailsHeader{
    background: url('../../assets/header00.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh;
}


.div_block{
    height: 100px;
}

/* .storiesTitle{
    height: 500px;
    margin-top: 100px;
} */

/* .storiesTitle h3{
    text-align: center;
    margin-bottom: 2rem;
} */

.storiesTitle h2{
    padding: 2rem;
    text-align: center;
    font-size: 80px;
    font-family: var(--font-base);
}

.storiesTitle h3{
    padding: 2rem;
    text-align: center;
    font-family: var(--font-base);
}