.storydetailsHeader{
    background: url('../../assets/header00.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh;
}

.div_block{
    height: 100px;
}

.PreviousLink{
    margin: 4rem 0 0 4rem;
    font-family: var(--font-base);
    font-weight: 400;
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.storiesTitle h2{
    padding: 2rem;
    text-align: center;
    font-size: 80px;
    font-family: var(--font-base);
}

.storiesTitle h3{
    padding: 2rem;
    text-align: center;
    font-family: var(--font-base);
}

