.ourWorkTitle p{
    font-size: 16px;
    font-family: var(--font-base);
}

.ourWork{
    text-align: center;
}

.ourWork h1{
    margin: 4rem 0 4rem 0;
}

.ourWorkTitle p span{
    font-weight: 600;
}

.ourWork_btn{
    border-top:  none;
    border-left: none;
    border-right: none;
    background: none;
    cursor: pointer;
}

.ourWork_btn:hover{
    border-bottom:2px solid #ff6961;
    transition: .5s;
}

.ourWorkTitle div{
    width: 50px;
    height: 2px;
    background: var(--primary-color);
    margin-bottom: 10px;
}

/* Masonry Class */
.my-masonry-grid {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .my-masonry-grid_column img{
    width: 99%;
  }
  


@media screen and (max-width: 850px) {
    .my-masonry-grid  img{
        width: 99%;
        padding: 0;
    }

    .ourWorkTitle{
        padding: 1rem;
    }
    
}


.portfolio_bg_img {
    height: 100px;
}

#downwards_link{
    position: absolute;
    bottom: 0;
    left:0;
    background-color: none;
}

.app__works {
    flex: 1;
    width: 100%;
    flex-direction: column;
}
.app__work-filter {
    font-family: var(--font-base);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.app__work-filter .app__work-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    /* background-color: var(--black-color); */
    color: var(--black-color);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;
}
.app__work-filter .app__work-filter-item:hover {
    background-color: #000;
    color: #fff;
}
@media screen and (min-width: 2000px) {
    .app__work-filter .app__work-filter-item {
        padding: 1rem 2rem;
        border-radius: 0.85rem;
   }
}
.app__work-filter .item-active {
    background-color: rgb(7, 17, 18);
    color: #fff;
}


#container {
    display: flex;
    overflow-x: scroll;
    
    max-width: 70rem;
    margin: 0 auto;
  }
  
  #container p {
    font-family: sans-serif;
    
    border-radius: 8px;
    background: #ff6961;
    color: white;
    height: 200px;
    width: 200px;
    
    padding: 2rem 3rem;
    margin: 2rem 1rem;
  }

  .work{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  