#home{
    padding: 0;
    margin: 0;
    height: 100vh;
}

#header{
    background-image: url('../../../assets/headermain2.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.app__header{
    padding: 10px;
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 70px;
    font-size: 70px;
    padding-left: 4rem
}

.app__header-p{
    font-family: var(--font-base);
    color: var(--secondary-color);
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
    padding: 2rem 4rem;
    text-align: justify;
}


.app__video {
    height: 100vh;
    position: relative;
    width: 50%;
}

.app__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app__video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.65);
}

/* .app__video-overlay_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--color-golden);
    cursor: pointer;
} */


@media screen and (max-width: 1150px) {

    /* .app__header{
        display: block;
    } */

    .app__video {
        display: none;
    }

    .app__header-h1 {
        font-size: 30px;
        line-height: 50px;
        margin-top: 5rem;
    }

    .app__header-p{
        padding: 0.5rem 4rem;
    }
}  
  