.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding: 1rem 2rem; */
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 10;
}

/* styling the logo */
.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo img {
    width: 250px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.active{
    color: #9c9080 !important;
}

.app__navbar-links .link {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;
}

.app__navbar-links .link div {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;

    margin-bottom: 5px;
}

.app__navbar-links .link:hover div  {
    background: var(--black-color);
}

.app__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__navbar-login a {
    margin: 0 0.5rem;
    text-decoration: none;
    transition: .5s ease;
}

.app__navbar-login svg{
    color: var(--black-color);
}

.app__navbar-login a:hover {
    border-bottom: 1px solid var(--color-golden);
}

.app__navbar-login div {
    width: 200px;
    height: 30px;
    background: var(--color-grey);
}

.app__navbar-smallscreen {
    display: none;
}

/* over lay with items */
.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background: var(--white-color);
    transition: 10s ease;
    
    justify-content: space-between;
    z-index: 5;
}

/* styling close icons */
.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-smallscreen_links {
    list-style: none;
}

.app__navbar-smallscreen_links .small_link {
    margin-top: 2rem;
    padding: 1rem;
    cursor: pointer;
    color: var(--black-color);
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--font-base);
}

.app__navbar-smallscreen_links .small_link li {
    cursor: pointer;
    color: var(--black-color);
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--font-base);
}

.app__navbar-smallscreen_links .small_link:hover {
    color: var(--secondary-color);
}

/* larger screens */
@media screen and (min-width: 2000px) {
    .app__navbar-logo img {
        width: 210px;
    }
}

/* tablet */
@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex !important;
    }

    .app__navbar-logo img {
        width: 210px;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
        opacity: 1;
    }

    .app__navbar-smallscreen {
        display: flex !important;
    }

    .app__navbar-logo img {
        width: 210px;
    }
    .app__navbar-login div {
        width: 10px;
        height: 30px;
    }
}