.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__padding {
  padding: 2rem 4rem;
}


.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .app__bg {
  background: url('./assets/header00.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
} */

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.custom__button {
  border: 2px solid var(--black-color);
  background: none;
  color: var(--black-color);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 20px;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  width: 200px;
}

.portfolio_style{
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.custom__button_page {
  border: 2px solid var(--black-color);
  background: none;
  color: var(--black-color);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 20px;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  width: 200px;
}

.custom__button:hover {
  border: 2px solid var(--white-color);
  transition: 1s all;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--white-color);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.app__stories{
  background: var(--lightGray-color)
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--white-color);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-black);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 125px;
  height: 3px;
  background-color: var(--black-color);
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;
}

.app__navigation .app__navigation-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cbcbcb;
  margin: 0.5rem;

  transition: background-color 0.2s ease-in-out;
}

.app__navigation .app__navigation-dot:hover {
  background-color: var(--secondary-color);
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 1rem;
}

.app__social div{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0.25rem 0;
  border: 1px solid var(--black-color);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

.app__social div svg{
  width: 15px;
  height: 15px;
  color: var(--black-color);
}

.app__social div:hover{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.app__social div:hover svg{
  color: var(--white-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}


@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .app__navigation-dot {
    width: 20px;
    height: 20px;
  }

  .p__monserrat {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }

  .app__social div{
    width: 70px;
    height: 70px;

    margin: 0.5rem 0;
  }

  .app__social div svg{
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 2rem 4rem;
  }
  
  .p__cormorant {
    font-size: 21px;
  }

  .p__monserrat {
    font-size: 14px;
  }

  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .p__monserrat {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
  .section__padding {
    padding: 2rem 4rem;
  }
}
