.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  text-align: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.section__padding {
  padding: 2rem 4rem;
} 

.headtext__poppins{
  font-family: var(--font-base);
}

.flex__center {
  display: flex;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}


/* line 451, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.custom__button{
  color: #071112;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0px;
  text-transform: normal;
  padding: 12px 35px;
  -moz-user-select: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0;
  position: relative;
  transition: color 0.4s linear;
  position: relative;
  overflow: hidden;
  margin: 0;
  border: 1px solid #DBDBDB;
}

/* line 472, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.custom__button::before {
  border: 1px solid transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #071112;
  z-index: -1;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleY(0);
  border-radius: 0;
}

/* line 490, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.custom__buttoni {
  padding-right: 11px;
}

/* line 493, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.custom__button.custom__button2 {
  color: #fff !important;
  background: #071112;
}

/* line 499, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.custom__button:hover::before {
  transform: scaleY(1);
  border: 1px solid transparent;
}

/* line 503, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.custom__button:hover {
  color: #fff !important;
}


.custom__button:hover{
  cursor: pointer;

}

.portfolio_style{
  background-color: #fff;
}

#align{
  text-align: left;
  margin-left: 3rem;
  margin-top: 3rem;
}
@media screen and (min-width: 2000px) {
  .head-text {
    font-size: 4rem;
 }
}
@media screen and (max-width: 450px) {
  .head-text {
    font-size: 2rem;
 }
}

.custom__button_page {
  border: 2px solid #071112;
  background: none;
  color: var(--black-color);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 20px;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  width: 200px;
}

.custom__button:hover {
  border: 2px solid var(--white-color);
  transition: 1s all;
}

.small_text {
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 16px;
}

.app__stories{
  background: var(--lightGray-color)
}

.spoon__img {
  width: 50px;
  height: 3px;
  background-color: var(--secondary-color);
  margin-left: 2.5rem;
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;
}

.app__navigation .app__navigation-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cbcbcb;
  margin: 0.5rem;

  transition: background-color 0.2s ease-in-out;
}

.app__navigation .app__navigation-dot:hover {
  background-color: var(--secondary-color);
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 0.1rem;
}

.app__social div{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0.25rem 0;
  border: 1px solid var(--white-color);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

.app__social div svg{
  width: 15px;
  height: 15px;
  color: var(--white-color);
}

.app__social div:hover{
  background-color: var(--black-color);
  border-color: var(--black-color);
}

.app__social div:hover svg{
  color: var(--white-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}


@media screen and (min-width: 2000px) {
  .app__navigation-dot {
    width: 20px;
    height: 20px;
  }

  .p__monserrat {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__poppins {
    font-size: 64px;
  }

  .spoon__img {
    width: 80px;
  }

  .app__social div{
    width: 70px;
    height: 70px;

    margin: 0.5rem 0;
  }

  .app__social div svg{
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 1150px) {

  .app__wrapper {  
    height: 100px;
  }

  .app__wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .headtext__poppins {
    font-size: 16px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 650px) {

  .section__padding {
    padding: 2rem 4rem;
  }
  
  .headtext__poppins {
    font-size: 16px;
  }

  .p__monserrat {
    font-size: 14px;
  }

  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .p__monserrat {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__poppins {
    font-size: 20px;
    line-height: 25px;
  }

  .section__padding {
    padding: 2rem 4rem;
  }
}
