.app__chef-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    margin-top: 1rem;
}


.app__chef-content_quote {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    align-items: flex-end;
}

.app__chef-content p {
    justify-content: flex-start;
    flex: 1;
    align-items: flex-end;
}

.app__chef-content_quote img {
    width: 47px;
    height: 40px;
    margin: 0 1rem 1rem 0;
}

.app__chef-sign {
    width: 100%;
    margin-top: 1rem;
}

.app__chef-sign p:first-child {
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--color-golden);
}

.app__chef-sign img {
    width: 250px;
    margin-top: 3rem;
}

.brands h1{
    margin-left: 5rem;
}

.app__testimonial-brands {
    flex-wrap: wrap;
    margin-top: 2rem;
} 

.app__testimonial-brands div {
    width: 170px;
    margin: 1.5rem;
}

.app__testimonial-brands div img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(1);
} 

.app__testimonial-brands div img:hover {
 filter: grayscale(0);
} 


@media screen and (min-width: 2000px) {
    .app__chef-sign img {
        width: 370px;
    }

    .app__testimonial-brands div {
        width: 210px;
        margin: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .app__chef-sign img {
        width: 80%;
    }

    .app__chef-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    
        margin-top: 5rem;
    }

    .app__testimonial-brands div {
        width: 120px;
        margin: 1rem;
    }

    .app__chef-content {
        margin-top: 0rem;
    }
}


@media screen and (max-width: 800px) {
    .app__testimonial-brands {
        width: 100%;
    } 

    .app__chef-content {
        margin-top: 0rem;
    }
}